
<body class="container">
<header>
        <% include ../admin/addplayer %>
    </header>

    <form id="scoreform"  name="scoreform" method="POST">
    <input type="hidden" id="match_id" value="1">
    <input type="hidden" id="team_id" value="1">
     <div class="row">
            <div class="col-sm-6">
            <input type="button" value="Start Match" id="match_start">
       </div>
       </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="player" id="bowler">
                <h3>
                <input type="button" value="Bowler"></h3>
                
              <% for(var i=1; i <=11; i++) { %>
                 <input type="button" class="player_btn bowler" value="Bowler<%=i %>" id=ball<%=i%> data=<%= i%>>
                 <% } %>
                </div>
                
            </div>
            <div class="col-sm-6">
                
                <div class="player" id="batsman">
                  <h3>
                <input type="button" value="Batsman"></h3>
                
              <% for(var i=1; i <=11; i++) { %>
                 <input type="button" class="player_btn batsman <%= i==1 ? "active":"" %>
                 " value= "Batsman<%=i %>" id=bat<%=i%> data=<%= i%>>
                 <% } %>
                </div>

            </div>
        </div>
        
        <div  class="col-sm-12" id="scoringdiv">
        <div class="row">
            <div class="col-sm-12">
            
                <div class="player" id="over">
                  <h3 >
                <input class="label_btn" type="button" value="Over"></h3>
                <% for(var i=1; i <=11; i++) { %>
                <% if(i==1){ %>
                <input type="button" class="over_btn active " value= <%= i %> name=over<%= i %> id=<%= i %>>
               <% }else{ %>
                 <input type="button" class="over_btn" value= <%= i %> name=over<%= i %> id=<%= i %>>
                <% }%>
                 <% } %>
                </div>
                
            </div>
            
        </div>
        
         <div class="row">
            <div class="col-sm-12">
            
                <div class="player" id="score">
                <table id="score_table" name="score_table">
                <tr><th>  Balls     </th>
                <th>  1         </th>
                  <th>      2     </th>
                    <th>      3     </th>
                      <th>        4   </th>
                        <th>        5   </th>
                          <th>       6    </th>
                            <th>      Dot     </th>
                              <th>        Wicket   </th>
                                <th>      Wide     </th>
                                  <th>    No Ball       </th>
                                  <th></th>
                </tr>
                <tr id="1" >
                <td>1</td>
                 <% for(var i=1; i <=10; i++) { %>
                
                 <td><% if(i<=7){ %>
                 <input type="radio"  name="radio1_1_1" class="overball ball1" checkclass="1" value= <%= i %> id=<%=i %>
                 checked=<%= i==7 ? "true" : "false" %>
                 >
                 <% } else{%>
                  <input type="checkbox"  name="check1_1" class="overball ball1" checkclass="1" value= <%= i %> id=<%=i %>
                  group=<%= i==8 ? "wicket[]" : "extra[]" %> >
                 <% } %>
                 </td>
                
                 <% } %>
                 <td><input type="button" name="ball1_1"value="OK" class ="ball1" checkclass="1" id="ball1"></td>
                 </tr>
                 
                 
                 
                </table>
                
                </div>
                
            </div>
            
        </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
            
                <div class="player" id="batting">
                	<div class="run">
                	<h4>Batsman 1</h4>
                	</div>
                	<div class="run">
                	<h4>Batsman 2</h4>
                	</div>
                	
                	<div class="summary">
                	
                	<h5>Team Name</h5></br>
                	
                
                	<h5>Total Wides</h5></br>
                	<h5>Total No Balls</h5></br>
                	<h5>Total Extras</h5></br>
                	<h5>Total Wickets</h5></br>
                		<h5>Total Runs</h5>
                	
                </div>
                </div>
                
            </div>
            <div class="col-sm-6">
                
                <div class="player" id="bowling">
                  <% for(var i=1; i <=11; i++) { %>
                <input type="button" class="bowler_name" value="bowler<%= i %>">
                   <% for(var j=1; j <=4; j++) { %>
                
                <input type="text" class="runs_given">
                
                 <% } %>
                  <% } %>
                </div>

            </div>
        </div>
        
      </form>  
  
     <footer>
        <% include ../partials/footer %>
    </footer>
