<script type="text/javascript">

var ball= 1;
var over=1;

$(document).on('click', 'input[type="button"][class*="ball"]', function() {
  $('#batplayer1').html('');
    $('#batplayer2').html('');
$("input[type=checkbox][id=8][name*='check"+over+"_"+ball+"']").popover('destroy');
 ball = $(this).parents('tr').closest('tr').next('tr').find('input[type=button]').attr('checkclass');
 if($(this).attr('checkclass') == 6){over++;ball=1;}
$("input[type=checkbox][id=8][name*='check"+over+"_"+ball+"'][data-toggle=popover]").popover();

  $("input[type=checkbox][id=8][name*='check"+over+"_"+ball+"']").popover({
        html : true, 
        content: function() {
      
          return $('#selectedPlayercontent').html();
        },
        title: function() {
          return $('#popoverExampleTwoHiddenTitle').html();
        },
      
    });
    
  
 $('.popover-show').on('show.bs.popover', function () {
      $('#batplayer1').html($('input[type="button"][class="player_btn batsman green"]').val());
       $('#batplayer1_id').val($('input[type="button"][class="player_btn batsman green"]').attr('data'));
       $('#batplayer2').html($('input[type="button"][class="player_btn batsman lightgreen"]').val());
        $('#batplayer2_id').val($('input[type="button"][class="player_btn batsman lightgreen"]').attr('data'));
   });
  

});

$("input[type=checkbox][id=8][name*='check"+over+"_"+ball+"'][data-toggle=popover][data-bind=popover]").popover();

  $("input[type=checkbox][id=8][name*='check"+over+"_"+ball+"'][data-bind=popover]").popover({
        html : true, 
        content: function() {
      
          return $('#selectedPlayercontent').html();
        },
        title: function() {
          return $('#popoverExampleTwoHiddenTitle').html();
        },
      
    });
  
 $('.popover-show').on('show.bs.popover', function () {
 
      $('#batplayer1').html($('input[type="button"][class="player_btn batsman green"]').val());
       $('#batplayer1_id').val($('input[type="button"][class="player_btn batsman green"]').attr('data'));
       $('#batplayer2').html($('input[type="button"][class="player_btn batsman lightgreen"]').val());
        $('#batplayer2_id').val($('input[type="button"][class="player_btn batsman lightgreen"]').attr('data'));
   });
  

</script>
 
<div id="selectedPlayercontent" style="display: none">
     <div>
        <label id="batplayer1"></label><input type="radio" id="batplayer1_id" name="wicketplyr"></br>
        <label id="batplayer2"></label><input type="radio" id="batplayer2_id" name="wicketplyr">

</div>
  </div>
<body class="container">
<header>
        <% include ../admin/addplayer %>
    </header>
  <input type="hidden" id = "match_id_score" value="<%= match_id %>">
<input type="hidden" id = "battingteam_id_score" value="<%= batting_team_id %>" >
<input type="hidden" id = "bowlingteam_id_score" value="<%= bowling_team_id %>">
<input type="hidden" id = "tot_over_id" value="<%= total_over %>">
<input type="hidden" id = "overlimit_id" value="<%= over_limit %>">
<input type="hidden" id = "innings" value="<%= innings %>">

  
    <form id="scoreform"  name="scoreform" method="POST">
    
     <div class="row">
            <div class="col-sm-6">
            <input type="button" value="Start Match" id="match_start">
       </div>
       </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="player" id="bowler">
                <h3>
                <input type="button" class="bowler_btn" value="Bowler" disabled></h3>
                
              <% for(var i=0; i <bowlers_array.length; i++) { %>
             <input type="button" class="player_btn bowler" value="<%=bowlers_array[i].name %>" id=ball<%=bowlers_array[i].id%> data="<%=bowlers_array[i].id%>">
                  <% } %>
                </div>
                
            </div>
            <div class="col-sm-6">
                
                <div class="player" id="batsman">
                  <h3>
                <input type="button" class="bowler_btn" value="Batsman" disabled></h3>
                
              <% for(var i=0; i <batsman_array.length; i++) { %>
                <input type="button" class="player_btn batsman" value= "<%=batsman_array[i].name %>" id=bat<%=batsman_array[i].id%> data="<%=batsman_array[i].id%>">
                  <% } %>
                </div>

            </div>
        </div>
       
        <div  class="col-sm-12" id="scoringdiv">
        <div class="row">
            <div class="col-sm-12">
            
                <div class="player" id="over">
                  <h3 >
                <input class="label_btn" type="button" value="Over" disabled></h3>
                <% for(var i=1; i <=  total_over ; i++) { %>
                <% if(i==1){ %>
                <input type="button" class="over_btn active " value= <%= i %> name=over<%= i %> id=<%= i %>  data-target="#myModal">
               <% }else{ %>
                 <input type="button" class="over_btn" value= <%= i %> name=over<%= i %> id=<%= i %>   data-target="#myModal">
                <% }%>
                 <% } %>
                </div>
                
            </div>
            
        </div>
        
         <div class="row">
            <div class="col-sm-12">
            
                <div class="player" id="score">
                <table id="score_table" name="score_table">
                <tr><th>  Balls     </th>
                <th>  1         </th>
                  <th>      2     </th>
                    <th>      3     </th>
                      <th>        4   </th>
                        <th>        5   </th>
                          <th>       6    </th>
                            <th>      Dot     </th>
                              <th>        Wicket   </th>
                                <th>      Wide     </th>
                                  <th>    No Ball       </th>
                                  <th></th>
                </tr>
                <tr id="1" >
                <td>1</td>
                 <% for(var i=1; i <=10; i++) { %>
                
                 <td><% if(i<=7){ %>
                 <input type="radio"  name="radio1_1_1" class="overball ball1" checkclass="1" value= <%= i %> id=<%=i %>
                 checked=<%= i==7 ? "true" : "false" %>>
                 <% } else{  %>              
                 <% if(i==8){%>
                   <input type="checkbox"  name="check1_1" class="overball ball1 popover-top popover-show" 
                   data-bind="popover" data-placement="top" checkclass="1" value= <%= i %> id=<%=i %>
       
       >
                  <% } else{%>
                  <input type="checkbox"  name="check1_1" class="overball ball1" checkclass="1" value= <%= i %> id=<%=i %>
                  group=<%= i==8 ? "wicket[]" : "extra[]" %> >
                 <% } }%>
                   </td>
                
                 <% } %>
                 <td><input type="button" name="ball1_1"value="OK" class ="ball1" checkclass="1" id="ball1"></td>
                 </tr>
                  <div id="wickettakendiv" style="display:none">
                 <lable id="currentplayer1"></lable> <input type="radio"  name="player1_wikt" id="" ></br>
                   <lable id="currentplayer2"></lable> <input type="radio"  name="player2_wikt" id=""  >
                 
               </div>
               
                 
                 
                 
                </table>
                
                </div>
                
            </div>
            
        </div>
        </div>
        
        <div class="row">
            <div class="col-sm-6">
            
                <div class="player" id="batting">
                	<div class="run">
                	<span id="bat1span"></span>
                	<span id="batman1run"></span>
                	</div>
                	<div class="run">
                	<span id="bat2span"></span>
                		<span id="batman2run"></span>
                	</div>
                	
                	<div class="summary">
                	
                	Team Name<span id="bat2span"><%= battingTeamName %></span></br>
                	
                
                	Wides<span id="tot_wide">0</span></br>
                	 No Balls<span id="tot_noball">0</span></br>
                	 Extras<span id="tot_extras">0</span></br>
                	 Wickets<span id="tot_wickets">0</span></br>
                		Total Runs<span id="tot_totalruns">0</span>
                	
                </div>
                </div>
                
            </div>
            <div class="col-sm-6">
                
                <div class="player" id="bowling">
                  <% for(var i=0; i <bowlers_array.length; i++) { %>
                  <div class="row col-sm-12 bowlerruns" >
                <input type="button" class="bowler_name runsgiven" value="<%=bowlers_array[i].name %>">
                   <% for(var j=1; j <=  over_limit ; j++) { %>
                
                <div class= "runsgiven" id="<%= bowlers_array[i].name %>_<%= j %>" name="<%=bowlers_array[i].name %>"></div>
                
                 <% } %>
                 </div>
                  <% } %>
                </div>
<input type="hidden" id="bowlerrungiven">
            </div>
        </div>
   
      </form>  
  
     <footer>
        <% include ../partials/footer %>
    </footer>

 

 
