<body>
<div id = "result">
<p><%= result1[0].team1 %>  score is   <span> <%= result1[0].Total1 %></span> </p>
<p><%= result2[0].team2 %>  score is   <span> <%= result2[0].Total2 %> </span> </p>

<p> Winner is  <%= winner %></p>
</div>
</body>