<form id="startmatch_frm" method="post" name="startmatch_frm">
<input type="hidden" id = "match_id" value= "<%= matchId %>">
<input type="hidden" id = "battingteam_id" value= "<%= battingTeam %>">
<input type="hidden" id = "bowlingteam_id" value= "<%= bowlingTeam %>">

<input type="hidden" id = "tot_over" value= "<%= totalOver %>">
<input type="hidden" id = "over_limit" value= "<%= overLimit %>">

 <div class="row startmatchdiv">
            <div class="col-sm-6">

First Batsman
</div>  
 <div class="col-sm-6">
 <select id="1stbatsman_select" name="1stbatsman_select" >
							             <option value="0">Select First Player</option>
							             <% for(var i=0; i < battinglist.length; i++) { %>
							             
							             <option  id = "<%= battinglist[i].id %>"" value="<%= battinglist[i].name %>"><%= battinglist[i].name %></option>
							             <% } %>
							             </select><br>
							             <span id="1st_batsman_select" style="color:red;"></span>
							             </div>
							             </div>
<div class="row startmatchdiv">
            <div class="col-sm-6">

Second Batsman</div>   <div class="col-sm-6">
<select id="2ndbatsman_select" name="2ndbatsman_select">
							             <option value="0">Select Second Player</option>
							             <% for(var i=0; i < battinglist.length; i++) { %>
							             
							             <option  id = "<%= battinglist[i].id %>"" value="<%= battinglist[i].name %>"><%= battinglist[i].name %></option>
							             <% } %>
							             </select><br>
							             <span id="2nd_batsman_select" style="color:red;"></span>  </div>
							             </div>
							       <div class="row startmatchdiv">
            <div class="col-sm-6">

First Bowler</div>   <div class="col-sm-6">
<select id="1stbowler_select" name="1stbowler_select">
							             <option value="0">Select First Bowler</option>
							             <% for(var i=0; i < bowlinglist.length; i++) { %>
							             
							             <option  id = "<%= bowlinglist[i].id %>"" value="<%= bowlinglist[i].name %>"><%= bowlinglist[i].name %></option>
							             <% } %>
							             </select> <br>
							             <span id="1st_bowler_select" style="color:red;"></span></div>
							             </div>
</form>