<div id="tabs">
  <ul>
    <% for(var i=0; i < teamData.length; i+=2) { %>
      <li><a href="#tabs-<%=i+1%>"><%= teamData[i]%></a></li>
    <% } %>
  </ul>
  <% for(var j=0; j < teamData.length; j+=2) { %>
    <div id="tabs-<%=j+1%>" >
      <table style="width:100%">
        <tr>
            <td style="width:30%"><strong>Batsmen</strong></td>
            <td style="width:45%"></td>
            <td style="width:5%"><strong>R</strong></td>
            <td style="width:5%"><strong>B</strong></td>
            <td style="width:5%"><strong>4s</strong></td>
            <td style="width:5%"><strong>6s</strong></td>
            <td style="width:5%"><strong>SR</strong></td>
        </tr>
        <% for(var i=0; i < batsmanData.length; i++) { %>
          <% if(batsmanData[i].team_id == teamData[j+1]) {%>
            <tr>
              <td><%= batsmanData[i].player_name %></td>
              <td>bowled &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
              <td><%= batsmanData[i].total_runs%></td>
              <td><%= batsmanData[i].total_balls%></td>
              <td><%= batsmanData[i].fours%></td>
              <td><%= batsmanData[i].sixes%></td>
              <td><%= batsmanData[i].strike_rate%></td>
            </tr>
          <% }%>
        <% } %>

        <tr>
          <td><strong>Extras</strong></td>
          <td>(b 5, lb 1, wd 3, nb 6, p 0)</td>
          <td>15</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td><strong>Total</strong></td>
          <td>(9 Wkts, 15 overs)</td>
          <td>121</td>
          <td colspan="4">&nbsp;&nbsp;RR:6.64</td>
        </tr>
      </table>
      <br/>
      <br/>
      <table>
        <tr>
            <td style="width:58%"><strong>Bowling</strong></td>
            <td style="width:6%"><strong>O</strong></td>
            <td style="width:6%"><strong>M</strong></td>
            <td style="width:6%"><strong>R</strong></td>
            <td style="width:6%"><strong>W</strong></td>
            <td style="width:6%"><strong>Nb</strong></td>
            <td style="width:6%"><strong>Wd</strong></td>
            <td style="width:6%"><strong>ER</strong></td>
        </tr>
        <% for(var i=0; i < bowlerData.length; i++) { %>
          <% if(batsmanData[i].team_id == teamData[j+1]) {%>
            <tr>
              <td><%= bowlerData[i].player_name%></td>
              <td><%= bowlerData[i].overs%></td>
              <td><%= bowlerData[i].maiden%></td>
              <td><%= bowlerData[i].runs%></td>
              <td><%= bowlerData[i].wickets%></td>
              <td><%= bowlerData[i].noball%></td>
              <td><%= bowlerData[i].wide%></td>
              <td><%= bowlerData[i].economy%></td>
            </tr>
          <% } %>
        <% } %>
      </table>
    </div>
  <% } %>
</div>